body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dfdfe4;
}

.calculator {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: right;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #e8f0fa;
    color: #061f3b;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #223a54;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #5f82a7;
}

button:active {
    background: #56698e;
}